@using CodeDayOne.Models
@model CodeDayOne.Models.Champion

@{
    ViewData["Title"] = "Home Page";
}

@{
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <img src="https://lolstatic-a.akamaihd.net/frontpage/apps/prod/playnow-global/en_US/b57628ada646a1c44a4d59fd73ca3a0955b3bf15/assets/img/lol-logo.png" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <button type="button" onclick="location.href='@Url.Action("PartySelect", "Game")'">Select Party</button>
            </div>
        </div>
    </div>
}

