@model CodeDayOne.ViewModels.BattleViewModel

<div class="row">
    <h5 class="text-center">ORDER</h5>
</div>
<div class="row text-center">
    @foreach(var character in Model.BattleOrder){
        if (character.ImageSource != null)
        {
            <img src="@character.ImageSource" height="48" width="48" />
        }
        else
        {
            if (Model.IsRed)
            {
                <img src="@character.RedImageURL" height="48" width="48" />
            }
            else
            {
                <img src="@character.BlueImageURL" height="48" width="48" />
            }
        }
    }
</div>